<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-primary" [routerLink]="['/add-memo']" routerLinkActive="router-link-active">Add Memo</button>
            </li>
            <li class="nav-item active">
                <h2 class="dateEtHeure"> {{date | date:'mediumDate':'+0100':'fr'}}</h2>
            </li>
        </ul>
    </div>
</nav>