.listMemo {
    display: inline;
}

.memo {
    text-align: center;
    border: solid 2px black;
    border-radius: 15px;
    height: 300px;
    width: 250px;
    margin: 5px;
    display: inline-block;
}

button {
    margin: 5px;
}

.prioriteHaute {
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prioriteNormal {
    background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}